dash
dash-bootstrap-components
gunicorn
joblib
numpy
pandas
plotly
pydantic==1.10.9
scikit_learn
python-binance
pyarrow
psutil
torch
gpuparallel
dash_ag_grid
statsmodels
pydotplus
graphviz
six
IPython