:root {
    --default-height:40px;
    --gray-12:#141414;
    --gray-11:#1f1f1f;
    --gray-10:#262626;
    --gray-9:#434343;
    --gray-8:#595959;
    --gray-7:#8c8c8c;
    --gray-6:#bfbfbf;
}
}

.btn {
    position: relative;
    border-radius: 10px;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    background-color: #8bbb11 !important;
    border: none;
    box-shadow: none !important;
    height: var(--default-height);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    transition: background-color .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn:hover {
    background-color: #8bbb11;
}

.btn:focus{
    background-color: #6f9412;
}

.btn-primary{
    position: relative;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    box-shadow: none;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-primary:active{
    position: relative;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #c9e75d !important;
    box-shadow: none !important;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-primary:hover{
    position: relative;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background-color: #8bbb11;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-outline-secondary {
    background: none;
    border-radius: 0px !important;
    padding: 1rem 1.5rem;
    color: rgba(255,255,255,0.85) !important;
    border-top: 1px solid #8bbb11 !important;
    border-right: 1px solid #8bbb11 !important;
    border-left: 1px solid #8bbb11 !important;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-secondary:active {
    background: none !important;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-secondary:hover {
    background: #1f2611 ;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-secondary:focus {
    background: #2e3c10 !important;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background-color .0s ease-in-out,border .0s ease-in-out,box-shadow .0s ease-in-out,color .0s ease-in-out;
}

.form-check-label.btn.btn-primary{
    background-color: var(--gray-11);
    border-radius: 20px;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}
.form-check-label.btn.btn-primary:hover{
    background-color: #8bbb1126;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}
.form-check-label.btn.btn-primary.active{
    background-color: #8bbb11;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.form-check-label.btn.btn-primary.active:hover{
    background-color: #8bbb11bf;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-lg {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #262626;
    box-shadow: none #3c3c3c;
    transition: background-color .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-outline-primary {
    background: none;
    padding: 1rem 1.5rem;
    color: rgba(255,255,255,0.85) !important;
    border: 1px solid #8bbb11 !important;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:active {
    background: none !important;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: 1px solid #8bbb11 !important;
    box-shadow: none #ffeded;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:hover {
    background: #1f2611 ;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: 1px solid #8bbb11 !important;
    box-shadow: none;
    transition: background-color .08s ease-in-out,border .08s ease-in-out,box-shadow .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:focus {
    background: #1f2611 !important;
    padding: 1rem 1.5rem;
    color: rgba(255,255,255,0.85) !important;
    box-shadow: none !important;
    transition: background-color .0s ease-in-out,border .0s ease-in-out,box-shadow .0s ease-in-out,color .0s ease-in-out;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: #262626;
    background: #262626 !important;
    box-shadow: none !important;
}

.form-label{
    color: white !important;
    opacity: 0.65;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0,0,0,0.85) !important;
    background-color: #f0f0f0 !important;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    box-shadow: none !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: var(--default-height);
}

.form-control:focus {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(0,0,0,0.65) !important;
    background-color: #f0f0f0 !important;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    box-shadow: none !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    height: var(--default-height);
}

.nav-link {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #536d13 !important;
    font-size: 24px;
    font-weight: 700;
    background: #1f1f1f !important;
    opacity: 1;
    padding: 0 0;
    height: 32px;
    font-size: 24px;
}

.nav-link.active {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: -10px;
    color: #c9e75d !important;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    padding: 0 0;
}

.dropdown-toggle{
    background: #536d13 !important;
}

.dropdown-menu {
    background-color: rgba(83, 109, 19,0.85) !important;
    /* border: 2px solid #1f2611; */
}

.dropdown-item {
    color: rgba(255,255,255,0.85) !important;
}


.dropdown-item:hover {
    background-color: rgba(201,231,93,0.65) !important;
    color: white !important;
}


body {
    background-color: #141414 !important;
}

h1,h2,h3,h4,h5,h6 {
    color: white !important;
    opacity: 0.85 !important;
}

hr {
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid white;
    opacity: 0.25 !important;
}