:root {
    --default-height:40px;
    --gray-12:#141414;
    --gray-11:#1f1f1f;
    --gray-10:#262626;
    --gray-9:#434343;
    --gray-8:#595959;
    --gray-7:#8c8c8c;
    --gray-6:#bfbfbf;
}

.graph{
    overflow: hidden;
    border-radius: 20px;
    background: var(--gray-10);
}

.btn {
    position: relative;
    border-radius: 10px;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: none;
    box-shadow: none !important;
    height: var(--default-height);
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: 400;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn:hover {
    background: #8bbb11;
}

.btn:focus{
    background: #6f9412;
}

.btn-primary{
    position: relative;
    padding: 1rem 1.5rem;
    border: none;
    background: #6f9412;
    border-radius: 10px;
    box-shadow: none;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn.btn-primary:active{
    position: relative;
    color: rgba(31,38,17,0.85);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background: #c9e75d;
    box-shadow: none !important;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

.btn-primary:hover{
    position: relative;
    color: rgba(255,255,255,0.85);
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background: #8bbb11;
    transition: background .15s ease-in-out,border .15s ease-in-out,box-shadow .15s ease-in-out,color .15s ease-in-out;
}

.btn-outline-secondary {
    background: none;
    border-radius: 0px !important;
    padding: 1rem 1.5rem;
    color: rgba(255,255,255,0.85) !important;
    border-top: 1px solid #8bbb11 !important;
    border-right: 1px solid #8bbb11 !important;
    border-left: 1px solid #8bbb11 !important;
}

.btn.btn-outline-secondary:active {
    background: none !important;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background .08s ease-in-out;
}

.btn.btn-outline-secondary:hover {
    background: #1f2611 ;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background .08s ease-in-out;
}

.btn.btn-outline-secondary:focus {
    background: #2e3c10 !important;
    padding: 1rem 1.5rem;
    box-shadow: none;
    transition: background .08s ease-in-out,
}

.form-check-label.btn.btn-primary{
    background: var(--gray-11);
    border-radius: 20px;
    transition: background .15s ease-in-out;
}
.form-check-label.btn.btn-primary:hover{
    background: #8bbb1126;
    transition: background .15s ease-in-out;
}
.form-check-label.btn.btn-primary.active{
    background: #8bbb11;
    transition: background .15s ease-in-out;
}

.form-check-label.btn.btn-primary.active:hover{
    background: #8bbb11bf;
    transition: background .15s ease-in-out;
}

.btn-lg {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: var(--gray-9);
    box-shadow: none;
    transition: background .15s ease-in-out;
}

.btn-outline-primary {
    background: none;
    padding: 1rem 1.5rem;
    color: rgba(255,255,255,0.85) !important;
    border: 1px solid #8bbb11 !important;
    transition: background .08s ease-in-out,border .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:active {
    background: none !important;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: 1px solid #8bbb11 !important;
    box-shadow: none #ffeded;
    transition: background .08s ease-in-out,border .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:hover {
    background: #1f2611 ;
    color: rgba(255,255,255,0.85) !important;
    padding: 1rem 1.5rem;
    border: 1px solid #8bbb11 !important;
    box-shadow: none;
    transition: background .08s ease-in-out,border .08s ease-in-out,color .08s ease-in-out;
}

.btn.btn-outline-primary:focus {
    background: #2e3c10 !important;
    padding: 1rem 1.5rem;
    color: rgba(255, 255, 255, 0.85) !important;
    box-shadow: none !important;
    transition: background .08s ease-in-out, color .08s ease-in-out;
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--gray-10) !important;
    background: var(--gray-10) !important;
    box-shadow: none !important;
}

.form-label{
    color: white !important;
    opacity: 0.65;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: rgba(255,255,255,0.85);
    background: var(--gray-9);
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    box-shadow: none !important;
    transition: background .15s ease-in-out;
    height: var(--default-height);
}
.form-control::-webkit-outer-spin-button,
.form-control::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control:focus {
    color: rgba(255,255,255,0.85);
    background: var(--gray-8) !important;
    transition: background .15s ease-in-out;
}

.form-control:hover{
    color: rgba(255,255,255,0.85);
    background: var(--gray-8) !important;
    transition: background .15s ease-in-out;

}

.navbar-collapse {
    background:var(--gray-10);
    height:32px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f9412;
    font-size: 24px;
    font-weight: 700;
    background: var(--gray-10) !important;
    opacity: 1;
    padding: 0 0;
    height: 32px;
    font-size: 24px;
}

.nav-link:hover{
    color: #c9e75d;
    box-shadow: 0 2px 0 0 #c9e75d inset;
    transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out, border-top ease-in-out .2s;
}

.nav-link.active {
    border-bottom-right-radius: -10px;
    color: #c9e75d !important;
    font-size: 24px;
    font-weight: 700;
    opacity: 1;
    padding: 0 0;
}

.nav-link:focus {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c9e75d;
    font-size: 24px;
    font-weight: 700;
    background: var(--gray-10) !important;
    opacity: 1;
    padding: 0 0;
    height: 32px;
    font-size: 24px;
}

.dropdown-toggle{
    background: #536d13 !important;
}

.dropdown-toggle:hover {
    background: #6f9412 !important;
}

.dropdown-menu {
    background: rgba(83, 109, 19,0.85) !important;
}

.dropdown-item {
    color: rgba(255,255,255,0.85) !important;
}


.dropdown-item:hover {
    background: #c9e75da6 !important;
    color: #ffffff !important;
}

.spinner-loader {
    width: 32px;
    height: 32px;
    margin-top: auto !important;
    display: inline-block;
    border: 5px solid #e4f88b;
    border-radius: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    animation: rot5 1s infinite;
}

@keyframes rot5 {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        border-top-color: #c9e75d;
        border-bottom-color: #8bbb11;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    100% {
            transform: rotate(360deg);
    }
}

.btn-group .form-check {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-group {
    box-shadow: none !important;
    background: none !important;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

.btn-ghost {
    background: none !important;
    color: rgba(255, 255, 255,0.45) !important;
    font-weight: 400 !important;
}

.btn-ghost.btn.btn-primary.active {
    background: none !important;
    color: #c9e75d !important;

}

body {
    background: var(--gray-11);
    color: rgba(255,255,255,0.85);
    font-family: -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji' !important;
}

h1,h2,h3,h4,h5,h6 {
    color: white !important;
    opacity: 0.85 !important;
}

hr {
    margin: 1rem 0;
    border: none;
    border-bottom: 1px solid white;
    opacity: 0.25 !important;
}

p {
    color: rgba(255,255,255,0.45)
}